
.card {
  margin-top: 5%;
  box-shadow: 0 4px 10px 0 rgba(0, 0.9, 0.6, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  max-height: 360px;
  min-height: 360px;
  display: flex;
  align-items: flex-start;
}
.card .card-img-top {
  max-height: 220px;
  min-height: 220px;
}

.card .cardtitle .href {
  text-decoration: none;
  color: darkslateblue;
}

.card .cardtitle {
  font-size: medium;
}

.center {
  text-align: center;
  margin-top: 10%;
}